 .container {
     width: 15em;
     margin: 0 0.2em;
     float: left;
 }

 /* 
 .pic img {
     width: 200%;
 }
*/
 .title {
     color: white;
     font-weight: bold;
     margin-bottom: 1em;

 }

 .channel,
 .views {
     font-size: small;
     color: #ccc;
     margin-bottom: 0.2em;
 }

 .views span {
     padding: 0 0.5em;
 }